
/* selimcan.org, selimcan.org/khanacademy/ and selimcan.org/extra/frank related stuff */

.tat {
    color: red;
}

#player {
    position: fixed;
    width: 50%;
    bottom: 20px;
}

.alphabet {
  /* autoprefixer: off */
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 200%;}

ul.alphabet>li {
    border: 2px solid blue;
    text-align: center;
    margin: 15px ;
}
		    
.say {
    color: red ;
}

.alphabet-table, th, td {
    border: 2px solid blue;
    font-size: 200%;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

nav ul li {
  display: inline;
}

nav ul li {margin-right: 10px}
nav ul li:last-child {margin-right: 0}
